.sidenav {
  height: 100%;
  width: 0; 
  position: fixed; 
  z-index: 5; 
  top: 0;
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
  }
  .closebtn {
    position: absolute;
    top: 2.5rem;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  &:hover {
    color: #f1f1f1;
  }
}
  
.topnav {
  display: inline-block;
  position: absolute;
  a {
    color: $gray;
    padding: 1.25rem 1rem;
    text-decoration: none; 
    display: grid;
  }
  @include breakpoint ($desktop) {
    display: none;
  } 
}

.overflow-hidden {
  overflow: hidden;  
}
  
